@{
    Layout = "_Layout";
}
<h1>Index</h1>
<html>
  
    <body>
    @*start header*@
   

    @*start body*@



    <section>
        <center>
            <div class="m-3 bg-primary text-white rounded-2">
                <h1>Welcome To Home Page</h1>

            </div>
        </center>
    </section>
    



</body>
</html>
