
@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h1>Privacy</h1>

<html>

<body>
    @*start header*@


    @*start body*@



    <section>
        <center>
            <div class="m-3 bg-success text-white rounded-2">
                <h1>Welcome To privacy Page</h1>

            </div>
        </center>
    </section>




</body>
</html>
